--
-- PostgreSQL database dump
--

\restrict 7pXYnV799wk3hSb8gUf4fUjm4hxIN0nfedFLUhpTIcD1QjEyn0IYaIHXU1BedgN

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: protect_created_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.protect_created_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    -- ╨╡╤Б╨╗╨╕ ╨┐╤Л╤В╨░╨╡╨╝╤Б╤П ╨╕╨╖╨╝╨╡╨╜╨╕╤В╤М created_at ╨╜╨░ ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡, ╨╛╤В╨╗╨╕╤З╨╜╨╛╨╡ ╨╛╤В ╤В╨╡╨║╤Г╤Й╨╡╨│╨╛

    IF new.created_at IS DISTINCT FROM old.created_at THEN

        new.created_at := old.created_at;

    END IF;

    RETURN new;

END;

$$;


ALTER FUNCTION public.protect_created_at() OWNER TO postgres;

--
-- Name: set_updated_at(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.set_updated_at() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    new.updated_at = CURRENT_TIMESTAMP;

    RETURN new;

END;

$$;


ALTER FUNCTION public.set_updated_at() OWNER TO postgres;

--
-- Name: update_recipe_rating(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_recipe_rating() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE recipe

    SET rating = (SELECT ROUND(AVG(rating)::NUMERIC, 2)

                  FROM review

                  WHERE recipe_id = COALESCE(new.recipe_id, old.recipe_id)

                    AND deleted_at IS NULL)

    WHERE id = COALESCE(new.recipe_id, old.recipe_id)

      AND deleted_at IS NULL;

    RETURN COALESCE(new, old);

END;

$$;


ALTER FUNCTION public.update_recipe_rating() OWNER TO postgres;

--
-- Name: update_recipe_views(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_recipe_views() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    UPDATE recipe

    SET views = views + 1

    WHERE id = new.recipe_id;



    RETURN new;

END;

$$;


ALTER FUNCTION public.update_recipe_views() OWNER TO postgres;

--
-- Name: upsert_collection_recipe(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.upsert_collection_recipe() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    existing_record_id BIGINT;

    existing_deleted_at TIMESTAMPTZ;

BEGIN



    SELECT id, deleted_at

    INTO existing_record_id, existing_deleted_at

    FROM collection_recipe

    WHERE collection_id = NEW.collection_id

      AND recipe_id = NEW.recipe_id;



    IF existing_record_id IS NOT NULL THEN

        IF existing_deleted_at IS NULL THEN

            RETURN NULL;

        ELSE

            RETURN NEW;

        END IF;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.upsert_collection_recipe() OWNER TO postgres;

--
-- Name: upsert_recipe_category(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.upsert_recipe_category() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    existing_record_id BIGINT;

    existing_deleted_at TIMESTAMPTZ;

BEGIN



    SELECT id, deleted_at

    INTO existing_record_id, existing_deleted_at

    FROM recipe_category

    -- ╨╕╤Й╨╡╨╝ ╤Б╨╛╨▓╨┐╨░╨┤╨░╤О╤Й╤Г╤О ╨╖╨░╨┐╨╕╤Б╤М

    WHERE recipe_id = NEW.recipe_id

      AND category_id = NEW.category_id;

    IF existing_record_id IS NOT NULL THEN

        IF existing_deleted_at IS NULL THEN

            -- ╨╖╨░╨┐╨╕╤Б╤М ╨░╨║╤В╨╕╨▓╨╜╨░ - ╨╕╨│╨╜╨╛╤А╨╕╤А╤Г╨╡╨╝ ╨┤╤Г╨▒╨╗╨╕╨║╨░╤В

            RETURN NULL;

        ELSE

            -- ╨╖╨░╨┐╨╕╤Б╤М ╤Г╨┤╨░╨╗╨╡╨╜╨░ - ╨┤╨╡╨╗╨░╨╡╨╝ ╨╜╨╛╨▓╤Г╤О

            RETURN NEW;

        END IF;

    END IF;



    RETURN NEW;

END;

$$;


ALTER FUNCTION public.upsert_recipe_category() OWNER TO postgres;

--
-- Name: upsert_recipe_ingredient(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.upsert_recipe_ingredient() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    existing_record_id BIGINT;

    existing_deleted_at TIMESTAMPTZ;

    records_match BOOLEAN;

    existing_quantity NUMERIC(10,3);

    existing_unit_id INT;

    existing_notes VARCHAR(256);

BEGIN



    SELECT id, deleted_at, quantity, unit_id, notes

    INTO existing_record_id, existing_deleted_at, existing_quantity, existing_unit_id, existing_notes

    FROM recipe_ingredient

    WHERE recipe_id = NEW.recipe_id

      AND ingredient_id = NEW.ingredient_id;



    IF existing_record_id IS NOT NULL THEN

        -- ╨┐╤А╨╛╨▓╨╡╤А╤П╨╡╨╝, ╤Б╨╛╨▓╨┐╨░╨┤╨░╤О╤В ╨╗╨╕ ╨▓╤Б╨╡ ╨┐╨░╤А╨░╨╝╨╡╤В╤А╤Л

        records_match := (

            existing_quantity = NEW.quantity AND

            existing_unit_id = NEW.unit_id AND

            COALESCE(existing_notes, '') = COALESCE(NEW.notes, '')

        );



        IF records_match THEN

            IF existing_deleted_at IS NULL THEN

                -- ╨┐╨╛╨╗╨╜╨╛╤Б╤В╤М╤О ╤Б╨╛╨▓╨┐╨░╨┤╨░╨╡╤В ╨╕ ╨╜╨╡ ╤Г╨┤╨░╨╗╨╡╨╜╨░ - ╨╕╨│╨╜╨╛╤А╨╕╤А╤Г╨╡╨╝

                RETURN NULL;

            ELSE

                -- ╤Б╨╛╨▓╨┐╨░╨┤╨░╨╡╤В, ╨╜╨╛ ╤Г╨┤╨░╨╗╨╡╨╜╨░ - ╤Б╨╛╨╖╨┤╨░╨╡╨╝ ╨╜╨╛╨▓╤Г╤О

                RETURN NEW;

            END IF;

        ELSE

            -- ╨┐╨░╤А╨░╨╝╨╡╤В╤А╤Л ╨╛╤В╨╗╨╕╤З╨░╤О╤В╤Б╤П - ╨┐╨╛╨╝╨╡╤З╨░╨╡╨╝ ╤Б╤В╨░╤А╤Г╤О ╨╖╨░╨┐╨╕╤Б╤М ╨║╨░╨║ ╤Г╨┤╨░╨╗╨╡╨╜╨╜╤Г╤О

            UPDATE recipe_ingredient

            SET deleted_at = CURRENT_TIMESTAMP

            WHERE id = existing_record_id

              AND deleted_at IS NULL;

            -- ╤Б╨╛╨╖╨┤╨░╨╡╨╝ ╨╜╨╛╨▓╤Г╤О ╨╖╨░╨┐╨╕╤Б╤М

            RETURN NEW;

        END IF;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.upsert_recipe_ingredient() OWNER TO postgres;

--
-- Name: upsert_recipe_tag(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.upsert_recipe_tag() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    existing_record_id BIGINT;

    existing_deleted_at TIMESTAMPTZ;

BEGIN



    SELECT id, deleted_at

    INTO existing_record_id, existing_deleted_at

    FROM recipe_tag

    WHERE recipe_id = NEW.recipe_id

      AND tag_id = NEW.tag_id;



    IF existing_record_id IS NOT NULL THEN

        IF existing_deleted_at IS NULL THEN

            RETURN NULL;

        ELSE

            RETURN NEW;

        END IF;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.upsert_recipe_tag() OWNER TO postgres;

--
-- Name: upsert_review(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.upsert_review() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    existing_record_id BIGINT;

    existing_deleted_at TIMESTAMPTZ;

    records_match BOOLEAN;

    existing_rating SMALLINT;

    existing_comment VARCHAR(1024);

BEGIN



    SELECT id, deleted_at, rating, comment

    INTO existing_record_id, existing_deleted_at, existing_rating, existing_comment

    FROM review

    WHERE user_id = NEW.user_id

      AND recipe_id = NEW.recipe_id;



    IF existing_record_id IS NOT NULL THEN

        records_match := (

            existing_rating = NEW.rating AND

            COALESCE(existing_comment, '') = COALESCE(NEW.comment, '')

        );



        IF records_match THEN

            IF existing_deleted_at IS NULL THEN

                RETURN NULL;

            ELSE

                RETURN NEW;

            END IF;

        ELSE

            UPDATE review

            SET deleted_at = CURRENT_TIMESTAMP

            WHERE id = existing_record_id

              AND deleted_at IS NULL;

            RETURN NEW;

        END IF;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.upsert_review() OWNER TO postgres;

--
-- Name: upsert_shop_list_item(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.upsert_shop_list_item() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

DECLARE

    existing_record_id BIGINT;

    existing_deleted_at TIMESTAMPTZ;

    records_match BOOLEAN;

    existing_quantity NUMERIC(10,3);

    existing_unit_id INT;

BEGIN



    SELECT id, deleted_at, quantity, unit_id

    INTO existing_record_id, existing_deleted_at, existing_quantity, existing_unit_id

    FROM shop_list_item

    WHERE shop_list_id = NEW.shop_list_id

      AND ingredient_id = NEW.ingredient_id;



    IF existing_record_id IS NOT NULL THEN

        records_match := (

            existing_quantity = NEW.quantity AND

            existing_unit_id = NEW.unit_id

        );



        IF records_match THEN

            IF existing_deleted_at IS NULL THEN

                RETURN NULL;

            ELSE

                RETURN NEW;

            END IF;

        ELSE

            UPDATE shop_list_item

            SET deleted_at = CURRENT_TIMESTAMP

            WHERE id = existing_record_id

              AND deleted_at IS NULL;

            RETURN NEW;

        END IF;

    END IF;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.upsert_shop_list_item() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    id integer NOT NULL,
    name character varying(256) NOT NULL,
    description character varying(512) DEFAULT ''::character varying NOT NULL,
    parent_category_id integer,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT category_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at))),
    CONSTRAINT check_category_not_self_referencing CHECK (((parent_category_id <> id) OR (parent_category_id IS NULL)))
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.category_id_seq OWNER TO postgres;

--
-- Name: category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.category_id_seq OWNED BY public.category.id;


--
-- Name: collection; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collection (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    title character varying(256) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT collection_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.collection OWNER TO postgres;

--
-- Name: collection_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.collection_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collection_id_seq OWNER TO postgres;

--
-- Name: collection_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.collection_id_seq OWNED BY public.collection.id;


--
-- Name: collection_recipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collection_recipe (
    id bigint NOT NULL,
    collection_id bigint NOT NULL,
    recipe_id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    deleted_at timestamp with time zone,
    CONSTRAINT collection_recipe_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.collection_recipe OWNER TO postgres;

--
-- Name: collection_recipe_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.collection_recipe_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collection_recipe_id_seq OWNER TO postgres;

--
-- Name: collection_recipe_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.collection_recipe_id_seq OWNED BY public.collection_recipe.id;


--
-- Name: ingredient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ingredient (
    id integer NOT NULL,
    name character varying(256) NOT NULL,
    parent_ingredient_id integer,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT check_ingredient_not_self_referencing CHECK (((parent_ingredient_id <> id) OR (parent_ingredient_id IS NULL))),
    CONSTRAINT ingredient_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.ingredient OWNER TO postgres;

--
-- Name: ingredient_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ingredient_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ingredient_id_seq OWNER TO postgres;

--
-- Name: ingredient_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ingredient_id_seq OWNED BY public.ingredient.id;


--
-- Name: recipe; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipe (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    title character varying(128) NOT NULL,
    description character varying(512) DEFAULT NULL::character varying,
    active_cooking_time smallint NOT NULL,
    total_cooking_time smallint NOT NULL,
    servings smallint NOT NULL,
    image_url character varying(512) DEFAULT NULL::character varying,
    views bigint DEFAULT 0,
    rating numeric(3,2) DEFAULT NULL::numeric,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    CONSTRAINT recipe_active_cooking_time_check CHECK (((active_cooking_time > 0) AND (active_cooking_time <= 1440))),
    CONSTRAINT recipe_check CHECK ((total_cooking_time >= active_cooking_time)),
    CONSTRAINT recipe_check1 CHECK (((updated_at IS NULL) OR (updated_at > created_at))),
    CONSTRAINT recipe_check2 CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at))),
    CONSTRAINT recipe_rating_check CHECK (((rating >= (1)::numeric) AND (rating <= (5)::numeric))),
    CONSTRAINT recipe_servings_check CHECK (((servings > 0) AND (servings <= 20))),
    CONSTRAINT recipe_title_check CHECK ((length((title)::text) >= 3)),
    CONSTRAINT recipe_views_check CHECK ((views >= 0))
);


ALTER TABLE public.recipe OWNER TO postgres;

--
-- Name: review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    recipe_id bigint NOT NULL,
    rating smallint NOT NULL,
    comment character varying(1024) DEFAULT ''::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    CONSTRAINT review_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at))),
    CONSTRAINT review_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.review OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id bigint NOT NULL,
    username character varying(32) NOT NULL,
    email character varying(256) NOT NULL,
    password_hash character varying(512) NOT NULL,
    salt character varying(256) NOT NULL,
    avatar_url character varying(512) DEFAULT NULL::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone,
    deleted_at timestamp with time zone,
    CONSTRAINT user_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at))),
    CONSTRAINT user_email_check CHECK (((email)::text ~* '^[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-Za-z]{2,}$'::text)),
    CONSTRAINT user_username_check CHECK ((length((username)::text) >= 3))
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: public_user_profiles; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.public_user_profiles AS
 SELECT id,
    username,
    concat("left"((email)::text, 1), '***', "right"(split_part((email)::text, '@'::text, 1), 1), '@', "left"(split_part((email)::text, '@'::text, 2), 1), split_part((email)::text, '@'::text, 2)) AS masked_email,
    avatar_url,
    created_at,
    ( SELECT count(*) AS count
           FROM public.recipe r
          WHERE ((r.user_id = u.id) AND (r.deleted_at IS NULL))) AS recipe_count,
    ( SELECT count(*) AS count
           FROM public.collection c
          WHERE ((c.user_id = u.id) AND (c.deleted_at IS NULL))) AS collection_count,
    COALESCE(( SELECT round(avg(r.rating), 2) AS round
           FROM public.recipe r
          WHERE ((r.user_id = u.id) AND (r.rating IS NOT NULL) AND (r.deleted_at IS NULL))), (0)::numeric) AS avg_recipe_rating,
    GREATEST(COALESCE(( SELECT max(recipe.created_at) AS max
           FROM public.recipe
          WHERE (recipe.user_id = u.id)), '1970-01-01 09:00:00+09'::timestamp with time zone), COALESCE(( SELECT max(review.created_at) AS max
           FROM public.review
          WHERE (review.user_id = u.id)), '1970-01-01 09:00:00+09'::timestamp with time zone), COALESCE(( SELECT max(collection.created_at) AS max
           FROM public.collection
          WHERE (collection.user_id = u.id)), '1970-01-01 09:00:00+09'::timestamp with time zone)) AS last_activity_date,
        CASE
            WHEN (created_at > (CURRENT_DATE - '30 days'::interval)) THEN '╨Э╨╛╨▓╨╕╤З╨╛╨║'::text
            WHEN (( SELECT count(*) AS count
               FROM public.recipe r
              WHERE ((r.user_id = u.id) AND (r.deleted_at IS NULL))) >= 10) THEN '╨Я╤А╨╛╨┤╨▓╨╕╨╜╤Г╤В╤Л╨╣'::text
            WHEN (( SELECT count(*) AS count
               FROM public.recipe r
              WHERE ((r.user_id = u.id) AND (r.deleted_at IS NULL))) >= 3) THEN '╨Р╨║╤В╨╕╨▓╨╜╤Л╨╣'::text
            ELSE '╨Э╨░╤З╨╕╨╜╨░╤О╤Й╨╕╨╣'::text
        END AS user_level
   FROM public."user" u
  WHERE (deleted_at IS NULL)
  ORDER BY created_at DESC;


ALTER VIEW public.public_user_profiles OWNER TO postgres;

--
-- Name: recipe_ingredient; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipe_ingredient (
    id bigint NOT NULL,
    recipe_id bigint NOT NULL,
    ingredient_id integer NOT NULL,
    quantity numeric(10,3) NOT NULL,
    unit_id integer NOT NULL,
    notes character varying(256) DEFAULT ''::character varying NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT recipe_ingredient_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at))),
    CONSTRAINT recipe_ingredient_quantity_check CHECK (((quantity > (0)::numeric) AND (quantity <= (1000)::numeric)))
);


ALTER TABLE public.recipe_ingredient OWNER TO postgres;

--
-- Name: recipe_step; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipe_step (
    id bigint NOT NULL,
    recipe_id bigint NOT NULL,
    step_order smallint NOT NULL,
    instructions character varying(2048) NOT NULL,
    image_url character varying(512) DEFAULT NULL::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT recipe_step_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.recipe_step OWNER TO postgres;

--
-- Name: quick_recipes_with_reviews; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.quick_recipes_with_reviews AS
 SELECT r.id,
    r.title,
    r.description,
    u.username AS author,
    r.active_cooking_time,
    r.total_cooking_time,
    r.servings,
    r.rating,
    r.views,
        CASE
            WHEN (r.total_cooking_time <= 15) THEN '╨Ю╤З╨╡╨╜╤М ╨▒╤Л╤Б╤В╤А╨╛ (╨┤╨╛ 15 ╨╝╨╕╨╜)'::text
            WHEN (r.total_cooking_time <= 30) THEN '╨С╤Л╤Б╤В╤А╨╛ (╨┤╨╛ 30 ╨╝╨╕╨╜)'::text
            ELSE '╨б╤А╨╡╨┤╨╜╨╡ (╨┤╨╛ 60 ╨╝╨╕╨╜)'::text
        END AS speed_category,
    count(rev.id) AS review_count,
    COALESCE(avg(rev.rating), (0)::numeric) AS avg_review_score,
    string_agg(DISTINCT
        CASE
            WHEN ((rev.comment)::text <> ''::text) THEN ("left"((rev.comment)::text, 50) || '...'::text)
            ELSE '╨С╨╡╨╖ ╨║╨╛╨╝╨╝╨╡╨╜╤В╨░╤А╨╕╤П'::text
        END, ' | '::text) AS recent_review_previews,
        CASE
            WHEN (count(DISTINCT ri.id) <= 5) THEN '╨Я╤А╨╛╤Б╤В╨╛╨╣'::text
            WHEN (count(DISTINCT ri.id) <= 10) THEN '╨б╤А╨╡╨┤╨╜╨╕╨╣'::text
            ELSE '╨б╨╗╨╛╨╢╨╜╤Л╨╣'::text
        END AS complexity_level
   FROM (((public.recipe r
     JOIN public."user" u ON (((r.user_id = u.id) AND (u.deleted_at IS NULL))))
     LEFT JOIN public.review rev ON (((r.id = rev.recipe_id) AND (rev.deleted_at IS NULL))))
     LEFT JOIN public.recipe_ingredient ri ON (((r.id = ri.recipe_id) AND (ri.deleted_at IS NULL))))
  WHERE ((r.deleted_at IS NULL) AND (r.total_cooking_time <= 60) AND ((r.servings >= 1) AND (r.servings <= 6)) AND (r.rating IS NOT NULL) AND (r.rating >= 3.5) AND (( SELECT count(*) AS count
           FROM public.recipe_step rs
          WHERE (rs.recipe_id = r.id)) <= 10))
  GROUP BY r.id, r.title, r.description, u.username, r.active_cooking_time, r.total_cooking_time, r.servings, r.rating, r.views
 HAVING (count(rev.id) >= 2)
  ORDER BY r.total_cooking_time, r.rating DESC;


ALTER VIEW public.quick_recipes_with_reviews OWNER TO postgres;

--
-- Name: recipe_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipe_category (
    id bigint NOT NULL,
    recipe_id bigint NOT NULL,
    category_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT recipe_category_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.recipe_category OWNER TO postgres;

--
-- Name: recipe_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipe_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_category_id_seq OWNER TO postgres;

--
-- Name: recipe_category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipe_category_id_seq OWNED BY public.recipe_category.id;


--
-- Name: recipe_tag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipe_tag (
    id bigint NOT NULL,
    recipe_id bigint NOT NULL,
    tag_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT recipe_tag_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.recipe_tag OWNER TO postgres;

--
-- Name: tag; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tag (
    id integer NOT NULL,
    name character varying(256) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT tag_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.tag OWNER TO postgres;

--
-- Name: recipe_detailed_report; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.recipe_detailed_report AS
 SELECT r.id AS recipe_id,
    r.title,
    r.description,
    u.username AS author,
    r.active_cooking_time,
    r.total_cooking_time,
    r.servings,
    r.views,
    r.rating,
    r.created_at,
    count(DISTINCT ri.id) AS total_ingredients,
    count(DISTINCT rs.id) AS total_steps,
    count(DISTINCT rev.id) AS total_reviews,
    count(DISTINCT cr.collection_id) AS times_in_collections,
    count(DISTINCT rt.tag_id) AS total_tags,
    count(DISTINCT rc.category_id) AS total_categories,
    string_agg(DISTINCT (cat.name)::text, ', '::text) AS categories_list,
    string_agg(DISTINCT (t.name)::text, ', '::text) AS tags_list,
    max(rev.created_at) AS last_review_date
   FROM (((((((((public.recipe r
     JOIN public."user" u ON (((r.user_id = u.id) AND (u.deleted_at IS NULL))))
     LEFT JOIN public.recipe_ingredient ri ON (((r.id = ri.recipe_id) AND (ri.deleted_at IS NULL))))
     LEFT JOIN public.recipe_step rs ON (((r.id = rs.recipe_id) AND (rs.deleted_at IS NULL))))
     LEFT JOIN public.review rev ON (((r.id = rev.recipe_id) AND (rev.deleted_at IS NULL))))
     LEFT JOIN public.collection_recipe cr ON (((r.id = cr.recipe_id) AND (cr.deleted_at IS NULL))))
     LEFT JOIN public.recipe_tag rt ON (((r.id = rt.recipe_id) AND (rt.deleted_at IS NULL))))
     LEFT JOIN public.recipe_category rc ON (((r.id = rc.recipe_id) AND (rc.deleted_at IS NULL))))
     LEFT JOIN public.category cat ON (((rc.category_id = cat.id) AND (cat.deleted_at IS NULL))))
     LEFT JOIN public.tag t ON (((rt.tag_id = t.id) AND (t.deleted_at IS NULL))))
  WHERE (r.deleted_at IS NULL)
  GROUP BY r.id, r.title, r.description, u.username, r.active_cooking_time, r.total_cooking_time, r.servings, r.views, r.rating, r.created_at
  ORDER BY r.views DESC, r.rating DESC NULLS LAST;


ALTER VIEW public.recipe_detailed_report OWNER TO postgres;

--
-- Name: recipe_enhanced; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.recipe_enhanced AS
 SELECT r.id,
    r.title,
    r.description,
    u.username AS author,
    (r.active_cooking_time || ' ╨╝╨╕╨╜'::text) AS active_time_display,
    (r.total_cooking_time || ' ╨╝╨╕╨╜'::text) AS total_time_display,
        CASE
            WHEN (r.total_cooking_time <= 30) THEN '╨С╤Л╤Б╤В╤А╤Л╨╣'::text
            WHEN (r.total_cooking_time <= 60) THEN '╨б╤А╨╡╨┤╨╜╨╕╨╣'::text
            ELSE '╨Ф╨╛╨╗╨│╨╕╨╣'::text
        END AS difficulty_level,
    (r.servings || ' ╨┐╨╛╤А╤Ж.'::text) AS servings_display,
    round(COALESCE((sum((ri.quantity * (
        CASE
            WHEN (i.parent_ingredient_id = ANY (ARRAY[1, 2])) THEN 250
            WHEN (i.parent_ingredient_id = 3) THEN 200
            WHEN (i.parent_ingredient_id = 4) THEN 50
            WHEN (i.parent_ingredient_id = 5) THEN 80
            WHEN (i.parent_ingredient_id = 6) THEN 150
            ELSE 100
        END)::numeric)) / (r.servings)::numeric), (0)::numeric)) AS estimated_calories_per_serving,
        CASE
            WHEN (r.rating IS NULL) THEN '╨Э╨╡╤В ╨╛╤Ж╨╡╨╜╨╛╨║'::text
            WHEN (r.rating >= 4.5) THEN '╨Ю╤В╨╗╨╕╤З╨╜╨╛'::text
            WHEN (r.rating >= 4.0) THEN '╨Ю╤З╨╡╨╜╤М ╤Е╨╛╤А╨╛╤И╨╛'::text
            WHEN (r.rating >= 3.0) THEN '╨е╨╛╤А╨╛╤И╨╛'::text
            WHEN (r.rating >= 2.0) THEN '╨г╨┤╨╛╨▓╨╗╨╡╤В╨▓╨╛╤А╨╕╤В╨╡╨╗╤М╨╜╨╛'::text
            ELSE '╨Я╨╗╨╛╤Е╨╛'::text
        END AS rating_display,
        CASE
            WHEN (r.views >= 500) THEN '╨Ю╤З╨╡╨╜╤М ╨┐╨╛╨┐╤Г╨╗╤П╤А╨╜╤Л╨╣'::text
            WHEN (r.views >= 200) THEN '╨Я╨╛╨┐╤Г╨╗╤П╤А╨╜╤Л╨╣'::text
            WHEN (r.views >= 50) THEN '╨б╤А╨╡╨┤╨╜╤П╤П ╨┐╨╛╨┐╤Г╨╗╤П╤А╨╜╨╛╤Б╤В╤М'::text
            ELSE '╨Ь╨░╨╗╨╛╨╕╨╖╨▓╨╡╤Б╤В╨╜╤Л╨╣'::text
        END AS popularity_level,
    (CURRENT_DATE - (r.created_at)::date) AS days_since_creation,
        CASE
            WHEN ((CURRENT_DATE - (r.created_at)::date) <= 7) THEN '╨Э╨╛╨▓╤Л╨╣'::text
            WHEN ((CURRENT_DATE - (r.created_at)::date) <= 30) THEN '╨Э╨╡╨┤╨░╨▓╨╜╨╕╨╣'::text
            WHEN ((CURRENT_DATE - (r.created_at)::date) <= 365) THEN '╨б╤В╨░╤А╤Л╨╣'::text
            ELSE '╨Р╤А╤Е╨╕╨▓╨╜╤Л╨╣'::text
        END AS recipe_age
   FROM (((public.recipe r
     JOIN public."user" u ON (((r.user_id = u.id) AND (u.deleted_at IS NULL))))
     LEFT JOIN public.recipe_ingredient ri ON (((r.id = ri.recipe_id) AND (ri.deleted_at IS NULL))))
     LEFT JOIN public.ingredient i ON (((ri.ingredient_id = i.id) AND (i.deleted_at IS NULL))))
  WHERE (r.deleted_at IS NULL)
  GROUP BY r.id, r.title, r.description, u.username, r.active_cooking_time, r.total_cooking_time, r.servings, r.views, r.rating, r.created_at;


ALTER VIEW public.recipe_enhanced OWNER TO postgres;

--
-- Name: recipe_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipe_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_id_seq OWNER TO postgres;

--
-- Name: recipe_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipe_id_seq OWNED BY public.recipe.id;


--
-- Name: recipe_ingredient_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipe_ingredient_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_ingredient_id_seq OWNER TO postgres;

--
-- Name: recipe_ingredient_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipe_ingredient_id_seq OWNED BY public.recipe_ingredient.id;


--
-- Name: recipe_step_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipe_step_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_step_id_seq OWNER TO postgres;

--
-- Name: recipe_step_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipe_step_id_seq OWNED BY public.recipe_step.id;


--
-- Name: recipe_tag_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipe_tag_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_tag_id_seq OWNER TO postgres;

--
-- Name: recipe_tag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipe_tag_id_seq OWNED BY public.recipe_tag.id;


--
-- Name: recipe_view; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.recipe_view (
    id bigint NOT NULL,
    user_id bigint,
    recipe_id bigint NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.recipe_view OWNER TO postgres;

--
-- Name: recipe_view_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.recipe_view_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.recipe_view_id_seq OWNER TO postgres;

--
-- Name: recipe_view_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.recipe_view_id_seq OWNED BY public.recipe_view.id;


--
-- Name: review_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.review_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.review_id_seq OWNER TO postgres;

--
-- Name: review_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.review_id_seq OWNED BY public.review.id;


--
-- Name: session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.session (
    id character varying(256) NOT NULL,
    user_id bigint NOT NULL,
    expire_at timestamp with time zone NOT NULL
);


ALTER TABLE public.session OWNER TO postgres;

--
-- Name: shop_list; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_list (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    name character varying(256) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT shop_list_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.shop_list OWNER TO postgres;

--
-- Name: shop_list_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shop_list_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shop_list_id_seq OWNER TO postgres;

--
-- Name: shop_list_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shop_list_id_seq OWNED BY public.shop_list.id;


--
-- Name: shop_list_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shop_list_item (
    id bigint NOT NULL,
    shop_list_id bigint NOT NULL,
    ingredient_id integer NOT NULL,
    quantity numeric(10,3) DEFAULT 1 NOT NULL,
    unit_id integer NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT shop_list_item_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at))),
    CONSTRAINT shop_list_item_quantity_check CHECK (((quantity > (0)::numeric) AND (quantity <= (1000)::numeric)))
);


ALTER TABLE public.shop_list_item OWNER TO postgres;

--
-- Name: shop_list_item_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.shop_list_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.shop_list_item_id_seq OWNER TO postgres;

--
-- Name: shop_list_item_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.shop_list_item_id_seq OWNED BY public.shop_list_item.id;


--
-- Name: tag_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tag_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tag_id_seq OWNER TO postgres;

--
-- Name: tag_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tag_id_seq OWNED BY public.tag.id;


--
-- Name: unit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unit (
    id integer NOT NULL,
    name character varying(256) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp with time zone,
    CONSTRAINT unit_check CHECK (((deleted_at IS NULL) OR (deleted_at >= created_at)))
);


ALTER TABLE public.unit OWNER TO postgres;

--
-- Name: unit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.unit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.unit_id_seq OWNER TO postgres;

--
-- Name: unit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.unit_id_seq OWNED BY public.unit.id;


--
-- Name: user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_id_seq OWNER TO postgres;

--
-- Name: user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_id_seq OWNED BY public."user".id;


--
-- Name: user_statistics; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.user_statistics AS
 SELECT u.id,
    u.username,
    u.email,
    u.created_at,
    count(DISTINCT r.id) AS total_recipes,
    count(DISTINCT c.id) AS total_collections,
    count(DISTINCT rv.id) AS total_reviews,
    count(DISTINCT sl.id) AS total_shop_lists,
    count(DISTINCT v.id) AS total_views_given,
    COALESCE(avg(rev.rating), (0)::numeric) AS avg_review_rating_given,
    COALESCE(avg(r.rating), (0)::numeric) AS avg_recipe_rating,
    sum(r.views) AS total_recipe_views
   FROM ((((((public."user" u
     LEFT JOIN public.recipe r ON (((u.id = r.user_id) AND (r.deleted_at IS NULL))))
     LEFT JOIN public.collection c ON (((u.id = c.user_id) AND (c.deleted_at IS NULL))))
     LEFT JOIN public.review rv ON (((u.id = rv.user_id) AND (rv.deleted_at IS NULL))))
     LEFT JOIN public.shop_list sl ON (((u.id = sl.user_id) AND (sl.deleted_at IS NULL))))
     LEFT JOIN public.recipe_view v ON ((u.id = v.user_id)))
     LEFT JOIN public.review rev ON (((u.id = rev.user_id) AND (rev.deleted_at IS NULL))))
  WHERE (u.deleted_at IS NULL)
  GROUP BY u.id, u.username, u.email, u.created_at
  ORDER BY (count(DISTINCT r.id)) DESC;


ALTER VIEW public.user_statistics OWNER TO postgres;

--
-- Name: category id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);


--
-- Name: collection id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection ALTER COLUMN id SET DEFAULT nextval('public.collection_id_seq'::regclass);


--
-- Name: collection_recipe id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_recipe ALTER COLUMN id SET DEFAULT nextval('public.collection_recipe_id_seq'::regclass);


--
-- Name: ingredient id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredient ALTER COLUMN id SET DEFAULT nextval('public.ingredient_id_seq'::regclass);


--
-- Name: recipe id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe ALTER COLUMN id SET DEFAULT nextval('public.recipe_id_seq'::regclass);


--
-- Name: recipe_category id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_category ALTER COLUMN id SET DEFAULT nextval('public.recipe_category_id_seq'::regclass);


--
-- Name: recipe_ingredient id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_ingredient ALTER COLUMN id SET DEFAULT nextval('public.recipe_ingredient_id_seq'::regclass);


--
-- Name: recipe_step id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_step ALTER COLUMN id SET DEFAULT nextval('public.recipe_step_id_seq'::regclass);


--
-- Name: recipe_tag id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_tag ALTER COLUMN id SET DEFAULT nextval('public.recipe_tag_id_seq'::regclass);


--
-- Name: recipe_view id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_view ALTER COLUMN id SET DEFAULT nextval('public.recipe_view_id_seq'::regclass);


--
-- Name: review id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review ALTER COLUMN id SET DEFAULT nextval('public.review_id_seq'::regclass);


--
-- Name: shop_list id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_list ALTER COLUMN id SET DEFAULT nextval('public.shop_list_id_seq'::regclass);


--
-- Name: shop_list_item id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_list_item ALTER COLUMN id SET DEFAULT nextval('public.shop_list_item_id_seq'::regclass);


--
-- Name: tag id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag ALTER COLUMN id SET DEFAULT nextval('public.tag_id_seq'::regclass);


--
-- Name: unit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unit ALTER COLUMN id SET DEFAULT nextval('public.unit_id_seq'::regclass);


--
-- Name: user id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN id SET DEFAULT nextval('public.user_id_seq'::regclass);


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: collection; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: collection_recipe; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ingredient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: recipe; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: recipe_category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: recipe_ingredient; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: recipe_step; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: recipe_tag; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: recipe_view; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.recipe_view (id, user_id, recipe_id, created_at) FROM stdin;
\.


--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.session (id, user_id, expire_at) FROM stdin;
\.


--
-- Data for Name: shop_list; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: shop_list_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tag; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: unit; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.category_id_seq', 32, true);


--
-- Name: collection_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.collection_id_seq', 12, true);


--
-- Name: collection_recipe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.collection_recipe_id_seq', 73, true);


--
-- Name: ingredient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ingredient_id_seq', 129, true);


--
-- Name: recipe_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipe_category_id_seq', 75, true);


--
-- Name: recipe_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipe_id_seq', 25, true);


--
-- Name: recipe_ingredient_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipe_ingredient_id_seq', 201, true);


--
-- Name: recipe_step_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipe_step_id_seq', 212, true);


--
-- Name: recipe_tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipe_tag_id_seq', 90, true);


--
-- Name: recipe_view_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.recipe_view_id_seq', 1, false);


--
-- Name: review_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.review_id_seq', 27, true);


--
-- Name: shop_list_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_list_id_seq', 10, true);


--
-- Name: shop_list_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.shop_list_item_id_seq', 64, true);


--
-- Name: tag_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tag_id_seq', 30, true);


--
-- Name: unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.unit_id_seq', 17, true);


--
-- Name: user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_id_seq', 15, true);


--
-- Name: category category_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_name_key UNIQUE (name);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: collection collection_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection
    ADD CONSTRAINT collection_pkey PRIMARY KEY (id);


--
-- Name: collection_recipe collection_recipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_recipe
    ADD CONSTRAINT collection_recipe_pkey PRIMARY KEY (id);


--
-- Name: ingredient ingredient_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredient
    ADD CONSTRAINT ingredient_name_key UNIQUE (name);


--
-- Name: ingredient ingredient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredient
    ADD CONSTRAINT ingredient_pkey PRIMARY KEY (id);


--
-- Name: recipe_category recipe_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_category
    ADD CONSTRAINT recipe_category_pkey PRIMARY KEY (id);


--
-- Name: recipe_ingredient recipe_ingredient_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_ingredient
    ADD CONSTRAINT recipe_ingredient_pkey PRIMARY KEY (id);


--
-- Name: recipe recipe_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe
    ADD CONSTRAINT recipe_pkey PRIMARY KEY (id);


--
-- Name: recipe_step recipe_step_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_step
    ADD CONSTRAINT recipe_step_pkey PRIMARY KEY (id);


--
-- Name: recipe_tag recipe_tag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_tag
    ADD CONSTRAINT recipe_tag_pkey PRIMARY KEY (id);


--
-- Name: recipe_view recipe_view_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_view
    ADD CONSTRAINT recipe_view_pkey PRIMARY KEY (id);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (id);


--
-- Name: shop_list_item shop_list_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_list_item
    ADD CONSTRAINT shop_list_item_pkey PRIMARY KEY (id);


--
-- Name: shop_list shop_list_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_list
    ADD CONSTRAINT shop_list_pkey PRIMARY KEY (id);


--
-- Name: tag tag_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_name_key UNIQUE (name);


--
-- Name: tag tag_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tag
    ADD CONSTRAINT tag_pkey PRIMARY KEY (id);


--
-- Name: unit unit_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unit
    ADD CONSTRAINT unit_name_key UNIQUE (name);


--
-- Name: unit unit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.unit
    ADD CONSTRAINT unit_pkey PRIMARY KEY (id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: category trg_protect_category_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_category_created BEFORE UPDATE ON public.category FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: collection trg_protect_collection_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_collection_created BEFORE UPDATE ON public.collection FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: collection_recipe trg_protect_collection_recipe_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_collection_recipe_created BEFORE UPDATE ON public.collection_recipe FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: ingredient trg_protect_ingredient_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_ingredient_created BEFORE UPDATE ON public.ingredient FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: recipe_category trg_protect_recipe_category_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_recipe_category_created BEFORE UPDATE ON public.recipe_category FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: recipe trg_protect_recipe_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_recipe_created BEFORE UPDATE ON public.recipe FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: recipe_ingredient trg_protect_recipe_ingredient_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_recipe_ingredient_created BEFORE UPDATE ON public.recipe_ingredient FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: recipe_step trg_protect_recipe_step_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_recipe_step_created BEFORE UPDATE ON public.recipe_step FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: recipe_tag trg_protect_recipe_tag_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_recipe_tag_created BEFORE UPDATE ON public.recipe_tag FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: recipe_view trg_protect_recipe_view_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_recipe_view_created BEFORE UPDATE ON public.recipe_view FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: review trg_protect_review_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_review_created BEFORE UPDATE ON public.review FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: shop_list trg_protect_shop_list_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_shop_list_created BEFORE UPDATE ON public.shop_list FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: shop_list_item trg_protect_shop_list_item_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_shop_list_item_created BEFORE UPDATE ON public.shop_list_item FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: tag trg_protect_tag_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_tag_created BEFORE UPDATE ON public.tag FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: unit trg_protect_unit_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_unit_created BEFORE UPDATE ON public.unit FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: user trg_protect_user_created; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_protect_user_created BEFORE UPDATE ON public."user" FOR EACH ROW EXECUTE FUNCTION public.protect_created_at();


--
-- Name: recipe trg_recipe_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_recipe_updated BEFORE UPDATE ON public.recipe FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: recipe_view trg_recipe_view_increment; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_recipe_view_increment AFTER INSERT ON public.recipe_view FOR EACH ROW EXECUTE FUNCTION public.update_recipe_views();


--
-- Name: review trg_review_rating; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_review_rating AFTER INSERT OR DELETE OR UPDATE ON public.review FOR EACH ROW EXECUTE FUNCTION public.update_recipe_rating();


--
-- Name: review trg_review_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_review_updated BEFORE UPDATE ON public.review FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: collection_recipe trg_upsert_collection_recipe; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_upsert_collection_recipe BEFORE INSERT ON public.collection_recipe FOR EACH ROW EXECUTE FUNCTION public.upsert_collection_recipe();


--
-- Name: recipe_category trg_upsert_recipe_category; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_upsert_recipe_category BEFORE INSERT ON public.recipe_category FOR EACH ROW EXECUTE FUNCTION public.upsert_recipe_category();


--
-- Name: recipe_ingredient trg_upsert_recipe_ingredient; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_upsert_recipe_ingredient BEFORE INSERT ON public.recipe_ingredient FOR EACH ROW EXECUTE FUNCTION public.upsert_recipe_ingredient();


--
-- Name: recipe_tag trg_upsert_recipe_tag; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_upsert_recipe_tag BEFORE INSERT ON public.recipe_tag FOR EACH ROW EXECUTE FUNCTION public.upsert_recipe_tag();


--
-- Name: review trg_upsert_review; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_upsert_review BEFORE INSERT ON public.review FOR EACH ROW EXECUTE FUNCTION public.upsert_review();


--
-- Name: shop_list_item trg_upsert_shop_list_item; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_upsert_shop_list_item BEFORE INSERT ON public.shop_list_item FOR EACH ROW EXECUTE FUNCTION public.upsert_shop_list_item();


--
-- Name: user trg_user_updated; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_user_updated BEFORE UPDATE ON public."user" FOR EACH ROW EXECUTE FUNCTION public.set_updated_at();


--
-- Name: category fk_categories_parent_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT fk_categories_parent_category_id FOREIGN KEY (parent_category_id) REFERENCES public.category(id) ON DELETE SET NULL;


--
-- Name: collection_recipe fk_collection_recipes_collection_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_recipe
    ADD CONSTRAINT fk_collection_recipes_collection_id FOREIGN KEY (collection_id) REFERENCES public.collection(id) ON DELETE CASCADE;


--
-- Name: collection_recipe fk_collection_recipes_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_recipe
    ADD CONSTRAINT fk_collection_recipes_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: collection fk_collections_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection
    ADD CONSTRAINT fk_collections_user_id FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: ingredient fk_ingredients_parent_ingredient_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ingredient
    ADD CONSTRAINT fk_ingredients_parent_ingredient_id FOREIGN KEY (parent_ingredient_id) REFERENCES public.ingredient(id) ON DELETE SET NULL;


--
-- Name: recipe_category fk_recipe_categories_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_category
    ADD CONSTRAINT fk_recipe_categories_category_id FOREIGN KEY (category_id) REFERENCES public.category(id) ON DELETE RESTRICT;


--
-- Name: recipe_category fk_recipe_categories_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_category
    ADD CONSTRAINT fk_recipe_categories_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: recipe_ingredient fk_recipe_ingredients_ingredient_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_ingredient
    ADD CONSTRAINT fk_recipe_ingredients_ingredient_id FOREIGN KEY (ingredient_id) REFERENCES public.ingredient(id) ON DELETE RESTRICT;


--
-- Name: recipe_ingredient fk_recipe_ingredients_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_ingredient
    ADD CONSTRAINT fk_recipe_ingredients_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: recipe_ingredient fk_recipe_ingredients_unit_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_ingredient
    ADD CONSTRAINT fk_recipe_ingredients_unit_id FOREIGN KEY (unit_id) REFERENCES public.unit(id) ON DELETE RESTRICT;


--
-- Name: recipe_step fk_recipe_steps_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_step
    ADD CONSTRAINT fk_recipe_steps_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: recipe_tag fk_recipe_tags_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_tag
    ADD CONSTRAINT fk_recipe_tags_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: recipe_tag fk_recipe_tags_tag_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_tag
    ADD CONSTRAINT fk_recipe_tags_tag_id FOREIGN KEY (tag_id) REFERENCES public.tag(id) ON DELETE CASCADE;


--
-- Name: recipe_view fk_recipe_views_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_view
    ADD CONSTRAINT fk_recipe_views_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: recipe_view fk_recipe_views_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe_view
    ADD CONSTRAINT fk_recipe_views_user_id FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE SET NULL;


--
-- Name: recipe fk_recipes_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.recipe
    ADD CONSTRAINT fk_recipes_user_id FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: review fk_reviews_recipe_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_reviews_recipe_id FOREIGN KEY (recipe_id) REFERENCES public.recipe(id) ON DELETE CASCADE;


--
-- Name: review fk_reviews_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT fk_reviews_user_id FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: session fk_sessions_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT fk_sessions_user_id FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: shop_list_item fk_shop_list_items_ingredient_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_list_item
    ADD CONSTRAINT fk_shop_list_items_ingredient_id FOREIGN KEY (ingredient_id) REFERENCES public.ingredient(id) ON DELETE RESTRICT;


--
-- Name: shop_list_item fk_shop_list_items_shop_list_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_list_item
    ADD CONSTRAINT fk_shop_list_items_shop_list_id FOREIGN KEY (shop_list_id) REFERENCES public.shop_list(id) ON DELETE CASCADE;


--
-- Name: shop_list_item fk_shop_list_items_unit_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_list_item
    ADD CONSTRAINT fk_shop_list_items_unit_id FOREIGN KEY (unit_id) REFERENCES public.unit(id) ON DELETE RESTRICT;


--
-- Name: shop_list fk_shop_lists_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shop_list
    ADD CONSTRAINT fk_shop_lists_user_id FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 7pXYnV799wk3hSb8gUf4fUjm4hxIN0nfedFLUhpTIcD1QjEyn0IYaIHXU1BedgN

